main {
  background-color: #000; 
  color: #ddd;
  padding: 2rem 2rem;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.cocktail-card {
  background-color: #ddd;
  color: #333;
  width: 15rem;
  padding: 5px 5px;
}

.picture-mask {
  width: 95%;
  height: 30%;
  align-content: center;
}

.cocktail-card img {
  width: 100%;
}
