body {
  background-color: #fff;
}

.shelf-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: 80rem;
  height: 15%;
}

.shelf {
  width: 100%;
}

.shelf-item {
  height: 10rem;
}

.pen {
  animation-name: write;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

@keyframes write {
  from {
    margin: 0;
  }

  to {
    margin-left: 35px;
  }
}

@keyframes write-depth {
25% {
  width: 80%;
}
50% {
  width: 100%;
}
75% {
  width: 80%;
}
100% {
  width: 100%;
}
}
